
/ %link{:href => "../../assets/images/favicon.ico", :rel => "shortcut icon"}
/ / Global CSS
/ = stylesheet_link_tag 'bootstrap.min.css'
/ / Plugins CSS
/ = stylesheet_link_tag 'font-awesome.css'
/ / github acitivity css
/ = stylesheet_link_tag 'github-activity.css'
/ / Theme CSS
/ = stylesheet_link_tag 'styles.css'

%header.header
  .container
    / %img.profile-image.img-responsive.pull-left{:alt => "Saurabh Chavhan", :src => "../../assets/images/profile.png"}/
    =image_tag "profile3.png", class: 'profile-image img-responsive pull-left'
    .profile-content.pull-left
      %h1.name Saurabh Chavhan
      %h2.desc Software Engineer Intern @ Procurem.io
      %ul.social.list-inline
        / <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        / <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        %li
          %a{:href => "https://www.linkedin.com/in/saurabh-chavhan/"}
            %i.fa.fa-linkedin
        %li
          %a{:href => "https://github.com/guinex"}
            %i.fa.fa-github-alt
        / %li
        /   %a{:href => "https://www.facebook.com/guinex18"}
        /     %i.fa.fa-facebook

.container.sections-wrapper
  .row
    .primary.col-md-8.col-sm-12.col-xs-12
      %section.about.section
        .section-inner
          %h2.heading About Me
          .content
            %p Actively looking for Full-Time Software Engineering positions | M.S in Computer Science | 3+ years of exp | Ruby on Rails | Java | Python | C++ | Restful API | Backend | Full Stack | Artificial Neural Networks
            %p 
              I have 3+ years of experience in Software Industry and I am comfortable with a wide range of programming languages like Python, Java, Ruby, C++. I am always looking for opportunities to learn about the best practices in these languages and improve my skills. I have designed, developed, and shipped reliable and robust systems for end-users and other businesses.
            %p
              Currently, I am working as an Intern at the Procurem.io where I am working on 2 different projects namely Chess ERP, its an erp application and another is Procurem a supply chain management application.
            %p
          / %section.about.section
          /   .section-inner
          /     %h2.heading Courses
          /     .content
          /       %strong Syracuse University
          /       %p
          /         %span.label-course Operating System
          /         %span.label-course Artificial neural Networks
          /         %span.label-course Analytical Data Mining
          /         %span.label-course Evolutionary Machine Learning
          /         %span.label-course Internet Security
          /         %span.label-course Social Media and Data Mining
          /         %span.label-course Design and Analysis of Algorithm
          /         %span.label-course Structural Programming and Formal Methods
          /         %span.label-course Database Management System
          / %strong Udemy
          / %p
          /   %span.label-course
          /     ='Machine Learning A-Z™: Hands-On Python & R In Data Science'
          /   %p
          /   %span.label-course
          /     ='Deep Learning A-Z™: Hands-On Artificial Neural Networks'

      %section.experience.section
        .section-inner
          %h2.heading Work Experience
          .content
            .item
              %h3.title
                Software Engineer Intern -
                %span.place
                  %a{:href => "https://www.procurem.io/", target: "_blank"} Procurem.io
                %br
                %span.year (May 2019 - Present)
                %br
              %p • Working as an intern I have build and designed inventory management system that keeps track of all the parts, purchase orders, sales orders with availability and shipping details of their line items. System also maintains account ledger and sales information.
              %p • Procurem is another project that I worked on. In this project I designed and restructured backend and API framework to improvise response time from 1.2s to 400ms.
              %p • Integrated Stripe so customers can select a plan for API usage. Customers can add credit cards via procurem.io page or   select from multiple cards.
              %p • Created an alert and notification system to improvise data analytics for customers.
              %p • Built a survey module for organizations, suppliers, and customers.

            .item
              %h3.title
                Software Engineer Co-op -
                %span.place
                  %a{:href => "#", target: "_blank"} Greenview Solutions
                %br
                %span.year (March 2019 - May 2019)
                %br
              %p • Maintained and upgraded existing systems like generating invoices and prefilled templates for customers.
              %p • Worked on UI/UX improvements including semantic markup and web accessibility.

            .item
              %h3.title
                Software Engineer -
                %span.place
                  %a{:href => "https://www.mirraw.com/", target: "_blank"} Mirraw
                %br
                %span.year (June 2016 - June 2018)
                %br
              %p • Worked with development team of 20 members to create and integrate highly optimized solutions by following agile, test-driven development methodology.
              %p • Collaborated in team-oriented environments, working cohesively and successfully with multiple individuals in projects related to revenue growth, marketing, and customer retention.
              %p • Implemented new payment APIs for company-wide deployment, including PayPal (and PayPal Express checkout) and RazorPay.
              %p • Delivered Reverse Image Search Algorithm in Ruby consistent with the roadmap, release plan milestones and key performance indicators, this feature helped in identifying over 70,000 products as duplicate inventory.
              %p • For cost-saving and conversion rate optimization designed customized A/B Testing framework (like Google Optimize) for producing various versions of product catalog page, increasing average session duration time by 13% and E-Commerce conversion rate by 2%.
              %p • Implemented a survey system to estimate the Net Promoter Score, project helped in gathering customer feedback and calculating the Order Defect Rate to improve stitching, delivery, quality of products.
              %p • Implemented Mirraw Wallet, an online wallet for website users which can be used to give cash back, loyalty points, sign-up bonus, referral points.
              %p • Reduced the load time of pages with intense user activity by reducing Database queries and js rendering with improved code quality.
              %p • Initiated efforts to migrate legacy applications to Rails 4 platform.
              %p • Designed software interfaces that proved user-friendly and simplified overall management.
              %p • Optimized system performance by making proactive adjustments and resolving bugs.
              %p • Participated in team meetings with Team Lead and Project Managers and provided input on expected deadlines, designs, and enhancements.
            .item
              %h3.title
                Web Developer Intern -
                %span.place
                  %a{:href => "#"} Knit - IIT Bombay
                %br
                %span.year (April 2015 - May 2015)
                %br
              %p • Developed a Web app that helps teachers to communicate with Parents and students by creating classrooms.
              %p • Created JavaScript API`s to supports mobile platforms(Android/ iOS) and web apps.
              %p • Managed development and deployment of Backend JavaScript cloud code to parse.com.
      =render template: 'project/index' 
      / %section.projects.section
      /   .section-inner
      /     %h2.heading Projects
      /     .content
      /       .item{style: "margin-top: 60px;"}
      /         %h3.title
      /           %a{:href => "#"} Stylometry-Prediction
      /           %span.label.label-theme Open Source
      /         %p.summary Authorship prediction by building a 2-D convolutional neural network and associate errors to the author of the code. Used token based N-gram approach to detect signature from the source code. Second part of the project identifies an author with known errors. View github for more information.
      /         %a.more-link{:href => "https://guinex.github.io/Stylometry-Prediction/", :target => "_blank", style: "float: left; margin-right: 20px; "}
      /           %i.fa.fa-external-link
      /           Read More
      /         %a.more-link{:href => "https://github.com/guinex/Stylometry-Prediction", :target => "_blank", style: "float:left;"}
      /           %i.fa.fa-external-link
      /           View on GitHub

      /       .item{style: "margin-top: 60px;"}
      /         %h3.title
      /           %a{:href => "#"} FirePong
      /           %span.label.label-theme Open Source
      /         %p.summary Trained an Artificially Intelligent Opponent for Ping Pong using Genetic Algorithm, Nature Inspired Firefly algorithms and compared results.
      /         %a.more-link{:href => "https://guinex.github.io/FirePong/", :target => "_blank", style: "float: left; margin-right: 20px; "}
      /           %i.fa.fa-external-link
      /           Read More
      /         %a.more-link{:href => "https://github.com/guinex/FirePong/", :target => "_blank", style: "float: left; margin-right: 20px; "}
      /           %i.fa.fa-external-link
      /           View on GitHub

      /       .item{style: "margin-top: 60px;"}
      /         %h3.title
      /           %a{:href => "https://github.com/guinex/twitter-analytics"} Follower Prediction Twitter
      /           %span.label.label-theme Open Source
      /         %p.summary System predicts whether a new twitter handle will follow certian celebrities. Data consists of 10 celebrities, their 100 recent tweets and ids of all followers, and 100 recent tweets followers. Prediction is done in 2 ways, first is using the logistic regression we check if followers of the celebrities (who fall are in same category) are more likely to follow other celebrities (of that same category) or not. Second is to check whether a new twitter handle share the same interest as the celebrities or not.
      /         %p Used logistic regression to check whether a new Twitter handle will follow the selected celebrities or not.
      /         %p Generated a classification model using Multinomial Naive Bayes to check if the new twitter handle has the same interest as the celebrities. Sample data provided to this model was top 100 recent tweets of the celebrities, of their followers and tweets of the new twitter handle.

      /         %a.more-link{:href => "https://github.com/guinex/twitter-analytics", :target => "_blank"}
      /           %i.fa.fa-external-link
      /           View on Github
      /       .item{style: "margin-top: 60px;"}
      /         %h3.title
      /           %a{:href => "#"} Digital Checkout System for Shopping Marts
      /           %span.label.label-theme.archived Archived
      /         %p.summary
      /           Digitalized the process purchasing products from marts which save customer`s time and makes the purchasing process easy. It is a Mobile application in PhoneGap using HTML, CSS, and JavaScript, using the application user can scan products to add it in a cart and can pay invoices without standing in the queue.
      /         %p Applied Market Basket Analysis to generate recommendations for users.
      /         %p Predicted purchase pattern of customers by Data Mining the user-generated data.
      /         %a.more-link{:href => "https://github.com/guinex/one-touch-billing-system", :target => "_blank"}
      /           %i.fa.fa-external-link
      /           View on GitHub



      %section.github.section
        .section-inner
          %h2.heading My GitHub
          #ghfeed.ghfeed
    .secondary.col-md-4.col-sm-12.col-xs-12
      %aside.education.aside.section
        .section-inner
          %h2.heading Education
          .content
            .item
              %h3.title
                %i.fa.fa-graduation-cap
                M.S in Computer Science
              %h4.university
                Syracuse University | GPA: 3.6
                %span.year  (2018-2020)
            / //item
            .item
              %h3.title
                %i.fa.fa-graduation-cap
                B.E in Information Technology
              %h4.university
                University of Mumbai | GPA: 3.53
                %span.year  (2012-2016)
      %aside.info.aside.section
        .section-inner
          %h2.heading.sr-only Basic Information
          .content
            %ul.list-unstyled
              %li
                %i.fa.fa-map-marker
                = succeed "Raleigh, NC " do
                  %span.sr-only Location:
              %li
                %i.fa.fa-envelope-o
                %span.sr-only Email:
                %a{href: "mailto:saurabh.chavhan@outlook.com?body = Hello Saurabh,"} saurabh.chavhan@outlook.com

              %li
                %i.fa.fa-link
                %span.sr-only View Resume:
                %a{:href => "#{ENV['PORTFOLIO_URL']}"} View Resume

      %aside.testimonials.aside.section
        .section-inner
          %h2.heading Testimonials
          .content
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  Saurabh did some development work for me in the summer of 2019. We had a fairly complex ERP system written in Ruby using the Rails framework. We had to restructure it from the core out based on some changes in functionality we wanted to implement. Saurabh was able to quickly gain an understanding of the large codebase, turn our ideas into well-functioning code, and even refactored many of our database related work creating a much faster application. He was always on time, professional, full of ideas, and crucial in bringing the ERP to the next iteration. We continue to use Saurabh with side-projects and fixes our internal team either can't get to or can't figure out. I highly recommend Saurabh for any type of software development project.
              %p.source
                %span.name Joshua Schultz
                %br/
                %span.title Manager Procurem.io | Supply Chain & Manufacturing Executive | MBA, CSSBB
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  Saurabh is an amazing software developer. His creative ideas and research skills are what sets him apart, He was trusted with many important projects because of this reason. He never turned down a challenging task and his work was always up to the mark. His knowledge and understanding of the concepts of Object Oriented Programming is remarkable, he also has very good problem-solving skill.
              %p.source
                %span.name Devilal Dheer
                %br/
                %span.title Technical Team Lead (Mirraw)
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  I had the opportunity of working with saurabh for 2 years at Mirraw. He started as a junior and i had to mentor him throughout his training period. I observed that he is such a quick learner and could easily juggle multiple projects. We could always trust him for coming up with a solution for any rare development feature as well. Trying out new technologies and his craving for learning new things are the two best qualities that stood out and impressed me particularly.
              %p.source
                %span.name Harshal Jaitpal
                %br/
                %span.title Software Developer (Mirraw)
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  Saurabh is hard working and has excellent web development skills. Inspite of being a fresher in the industry he was able to understand our system in a relatively short period of time and completed all his work diligently and on time. He also did a commendable work on javascript API's and UI.
              %p.source
                %span.name Dhanesh Kumar
                %br/
                %span.title Co-Founder & CTO at Kyte (YC S18)
            %p
              %a.more-link{:href => "https://www.linkedin.com/in/saurabh-chavhan/"}
                %i.fa.fa-external-link
                View on Linkedin
      =render partial: 'skills', locals:{_values: TECHNOLOGIES, _name: 'Technologies'}
      =render partial: 'skills', locals:{_values: SKILLS, _name: 'Skills'}
      /=render partial: 'skills', locals:{_values: COURSES, _name: 'Courses'}


      / %aside.languages.aside.section
      /   .section-inner
      /     %h2.heading Languages
      /     .content
      /       %ul.list-unstyled
      /         %li.item
      /           %span.title
      /             %strong English:
      /           %span.level
      /             Professional Proficiency
      /             %br.visible-sm.visible-xs/
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /         %li.item
      /           %span.title
      /             %strong Hindi:
      /           %span.level
      /             Native Speaker
      /             %br.visible-xs/
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /         %li.item
      /           %span.title
      /             %strong Spanish:
      /           %span.level
      /             Elementary Proficiency
      /             %br.visible-sm.visible-xs/
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star-half
      %aside.list.conferences.aside.section
        .section-inner
          %h2.heading Awards and Leadership
          .content
            %ul.list-unstyled
              %li
                %i.fa.fa-calendar
                Mentored and supervised 4 junior developers across multiple projects.
                %span
                  %a{:href => "#"} (Mirraw)
              %li
                %i.fa.fa-calendar
                Won Web Development Competition (Weave The Web) Organized by V.E.S Institute of Technology.
                %span
                  %a{:href => "#"} (Mumbai)
              %li
                %i.fa.fa-calendar
                Organized Java Workshop, Cloud Computing Seminar during Bachelor’s Degree.
                %span
                  %a{:href => "#"} (V.I.T Mumbai)
/ ******FOOTER******
/ Javascript
=javascript_include_tag  'jquery-1.11.1.min.js'
=javascript_include_tag  'jquery-migrate-1.2.1.min.js'
=javascript_include_tag  'bootstrap.min.js'
=javascript_include_tag  'jquery.rss.min.js'
/ github activity plugin
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js", :type => "text/javascript"}
=javascript_include_tag  'github-activity.js'

/ custom js
=javascript_include_tag  'main.js'
