<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title> Saurabh Chavhan </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio">
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.css">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/css/github-activity.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="../assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="../assets/images/profile.png" alt="Saurabh Chavhan" /> 
            <div class="profile-content pull-left">
                <h1 class="name">Saurabh Chavhan</h1>
                <h2 class="desc">Graduate Student at Syracuse University</h2>
                <h2 class="desc">(Software Engineer)</h2>
                <ul class="social list-inline">
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>                    -->
                    <!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                    <li><a href="https://www.linkedin.com/in/saurabh-chavhan/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/guinex"><i class="fa fa-github-alt"></i></a></li>
                    <!-- <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>                  -->
                </ul>
            </div><!--//profile-->
            <!-- <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>               -->
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me!</h2>
                        <div class="content">
                            <p>Graduate student at Syracuse University pursuing masters in Computer Science. </p>
                            <p>I am also an experienced Software Developer with a demonstrated history of working in the E-Commerce industry with strong engineering professional skills in Python, Ruby on Rails, Java, R, Git, Javascript. Quick learner, Self-motivated, Team player.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
    

                
                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Projects</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="https://github.com/guinex/twitter-analytics">Follower Prediction Twitter</a>  <span class="label label-theme">Open Source</span></h3>
                                <p class="summary">System predicts whether a new twitter handle will follow certian celebrities. Data consists of 10 celebrities, their 100 recent tweets and ids of all followers, and 100 recent tweets followers. Prediction is done in 2 ways, first is using the logistic regression we check if followers of the celebrities (who fall are in same category) are more likely to follow other celebrities (of that same category) or not. Second is to check whether a new twitter handle share the same interest as the celebrities or not.</p>
                                <p>Used logistic regression to check whether a new Twitter handle will follow the selected celebrities or not.</p>
                                <p>Generated a classification model using Multinomial Naive Bayes to check if the new twitter handle has the same interest as the celebrities. Sample data provided to this model was top 100 recent tweets of the celebrities, of their followers and tweets of the new twitter handle.</p>

                                <p><a class="more-link" href="https://github.com/guinex/twitter-analytics" target="_blank"><i class="fa fa-external-link"></i> View on Github</a></p>
                            </div>


                            <div class="item">
                                <h3 class="title"><a href="#">Digital Checkout System for Shopping Marts</a> <span class="label label-theme red-label"> Archived </span></h3>
                                <p class="summary">
                                    Digitalized the process purchasing products from marts which save customer`s time and makes the purchasing process easy. It is a Mobile application in PhoneGap using HTML, CSS, and JavaScript, using the application user can scan products to add it in a cart and can pay invoices without standing in the queue. </p>
                                <p>Applied Market Basket Analysis to generate recommendations for users.</p>
                                <p>Predicted purchase pattern of customers by Data Mining the user-generated data.</p> 
                                <p><a class="more-link" href="https://github.com/guinex/one-touch-billing-system" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                            </div>
                        </div>  
                    </div>                 
                </section>
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Software Engineer - <span class="place"><a href="#">Mirraw</a></span> <span class="year">(June 2016 - June 2018)</span></h3>
                                <p>Designed a customized A/B Testing framework (like Google Optimize) for producing various versions of product catalog page this increased average session duration time by 13% and E-Commerce conversion rate by 2%.</p>
                                <p>Implemented backend APIs to integrate PayPal (and PayPal Express checkout) and RazorPay payment gateways, which increased payment success rate by 24% and reduced error rates by distributing user traffic between 2 payment gateways.</p>
                                <p>Designed and Implemented a survey system to estimate the Net Promoter Score, which helped in gathering customer feedback and calculating the Order Defect Rate to improve stitching, delivery, quality of products.</p>
                                <p>Developed Reverse Image Search Algorithm in Ruby where similar products with different keywords can be identified using images, this feature helped in identifying over 70,000 products as duplicate inventory.</p>
                                <p>Added functionality of bulk insert on top of delayed job active record to reduce the DB write time from 1200ms to 400ms.</p>
                                <p>Collaborated with a developer in Dynamic Pricing Project that helps to change price of a product in different regions according to demand, this ensured a stable revenue growth.</p>

                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Web Developer Intern - <span class="place"><a href="#">Knit - IIT Bombay</a></span> <span class="year">(April 2015 - May 2015)</span></h3>
                                <p>Developed a Web app that helps teachers to communicate with Parents and students by creating classrooms.</p>
                                <p>Created JavaScript API`s to supports mobile platforms(Android/ iOS) and web apps.</p>
                                <p>Managed development and deployment of Backend JavaScript cloud code to parse.com.</p>
                            </div><!--//item-->
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        <!-- <p><a href="#"><img class="img-responsive" src="assets/images/github-chart.png" alt="GitHub Contributions Chart" /></a></p>                -->
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Syracuse, New York, US</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">sachavha@syr.edu</a></li>
                                <!-- <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a></li> -->
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro"></p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I use this ...well Everywhere!">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="95%">
                                        </div>                                      
                                    </div>                                 
                                </div>
                                <div class="item">
                                    <h3 class="level-title">Ruby on Rails<span class="level-label" title="My cup of Tea.">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="95%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                <div class="item">
                                    <h3 class="level-title">R<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Used R in my various courses.">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>                                      
                                    </div>                                 
                                </div>
                                <div class="item">
                                    <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I use this for Competetive Coding">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>                                      
                                    </div>                                 
                                </div>
                                <div class="item">
                                    <h3 class="level-title">AngularJS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Made a few Projects using AngularJS">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>                                      
                                    </div>                                 
                                </div>                                
                                
                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label"  title="Worked with Javascript and JQuery during my Internship." >Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="90%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SCSS &amp; CoffeeScript<span class="level-label">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->

                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> M.S in Computer Science</h3>
                                <h4 class="university">Syracuse University <span class="year">(2018-2020)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> B.E in Information Technology</h3>
                                <h4 class="university">University of Mumbai <span class="year"> (2012-2016)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li>
                                <li class="item">
                                    <span class="title"><strong>Hindi:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li>
                                <li class="item">
                                    <span class="title"><strong>Spanish:</strong></span>
                                    <span class="level">Elementary Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li>

                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <!--<aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>
                        <div id="rss-feeds" class="content">

                        </div>
                    </div>
                </aside>-->
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Awards and Leadership</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> Mentored and supervised 4 junior developers across multiple projects.<span><a href="#"> (Mirraw)</a></span></li>
                                <li><i class="fa fa-calendar"></i> Won Web Development Competition (Weave The Web) Organized by V.E.S Institute of Technology.<span><a href="#"> (Mumbai)</a></span></li>
                                <li><i class="fa fa-calendar"></i> Organized Java Workshop, Cloud Computing Seminar during Bachelor’s Degree.<span><a href="#"> (V.I.T Mumbai)</a></span></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
 
    <!-- Javascript -->          
    <script type="text/javascript" src="../assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="../assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github activity plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/github-activity.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="../assets/js/main.js"></script>            
</body>
</html> 

